<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alphacloud.Common.ServiceLocator.Castle" version="1.3.0.0" targetFramework="net461" />
  <package id="AutoMapper" version="5.1.1" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net461" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net461" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net461" />
  <package id="EnterpriseLibrary.Validation" version="6.0.1304.0" targetFramework="net461" />
  <package id="EnterpriseLibrary.Validation.Integration.WPF" version="6.0.1304.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net461" />
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net461" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.2.0.725" targetFramework="net461" />
  <package id="NHibernate" version="4.0.0.4000" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.103" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.103" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.103" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.103" targetFramework="net461" />
</packages>